<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="trace"
      throwExceptions="true"
      internalLogFile="c:\temp\nlog.txt">

  <targets>
    <!-- database target -->
    <target name="database"
            xsi:type="Database"
            connectionStringName="DefaultConnection"
            commandText="insert into dbo.Log (
      MachineName, Logged, Level, Message,
      Logger, Callsite, Exception
      ) values (
      @MachineName, @Logged, @Level, @Message,
      @Logger, @Callsite, @Exception
      )">
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@Logged" layout="${date}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Callsite" layout="${callsite}" />
      <parameter name="@Exception" layout="${exception:format=:innerFormat=ShortType,Message,Method:MaxInnerExceptionLevel=1:InnerExceptionSeparator=}" />
    </target>
  </targets>

  <rules>
    <!-- database logger -->
    <logger levels="Error,Warn,Fatal" name="databaseLogger" writeTo="database"/>
  </rules>
</nlog>