@{
    ViewBag.Title = "Quên mật khẩu";
}
<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">@ViewBag.Title</h3>
        </div>
        <div class="box-body">
            <p>
                Vui lòng kiểm tra Email để lấy lại mật khẩu
            </p>
        </div>
    </div>
</div>
