@{
    ViewBag.Title = "404";
}

<div class="col-md-12">
    <div class="box box-danger box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">404.</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <h4 class="text-danger">OPPS! Link không tồn tại!</h4>
        </div>
        <!-- /.box-body -->
    </div>

</div>

