@{
    ViewBag.Title = "Unauthorised";
}

<div class="col-md-12">
    <div class="box box-danger box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">@ViewBag.Title.</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <h4 class="text-danger">OPPS! Bạn không được cấp quyền truy cập trang này!</h4>
        </div>
        <!-- /.box-body -->
    </div>

</div>

