@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
}

<style>
    .pointer {
        cursor: pointer;
    }
</style>
<div ng-controller="IndexController" ng-cloak>

    <div class="content-wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h1 class="m-0">Overviews</h1>
                                <div class="clearfix">
                                    Last Updated:<br />
                                    @DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")<br />
                                    Applies filter: <small class="badge badge-secondary">Quebec</small>
                                    <small class="badge badge-secondary">Auto-update data</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <section class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-12">
                                        <h1>Trends</h1>
                                        <div class="form-inline">
                                            <div class="custom-control custom-checkbox mr-2">
                                                <input class="custom-control-input" type="checkbox" id="customCheckbox1" value="option1" checked>
                                                <label for="customCheckbox1" class="custom-control-label">SLA - Buzz</label>
                                            </div>
                                            <div class="custom-control custom-checkbox mr-2">
                                                <input class="custom-control-input" type="checkbox" id="customCheckbox2" value="option1" checked>
                                                <label for="customCheckbox2" class="custom-control-label">SLA - Calls</label>
                                            </div>
                                            <div class="custom-control custom-checkbox mr-2">
                                                <input class="custom-control-input" type="checkbox" id="customCheckbox3" value="option1" checked>
                                                <label for="customCheckbox3" class="custom-control-label">Overall - SLA</label>
                                            </div>
                                            <div class="custom-control custom-checkbox mr-2">
                                                <input class="custom-control-input" type="checkbox" id="customCheckbox4" value="option1" checked>
                                                <label for="customCheckbox4" class="custom-control-label">Volume</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card" style="min-height: 417px">
                                    <div class="card-body">
                                        <h4 class="card-title mb-4">Quebec</h4>
                                        <div class="clearfix"></div>
                                        <div id="quebec" style="min-width: 310px"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card" style="min-height: 417px">
                                    <div class="card-body">
                                        <h4 class="card-title mb-4">Ontario</h4>
                                        <div class="clearfix"></div>
                                        <div id="ontario" style="min-width: 310px"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card" style="min-height: 417px">
                                    <div class="card-body">
                                        <h4 class="card-title mb-4">Atlantic</h4>
                                        <div class="clearfix"></div>
                                        <div id="atlantic" style="min-width: 310px"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card" style="min-height: 417px">
                                    <div class="card-body">
                                        <h4 class="card-title mb-4">Overall average</h4>
                                        <div class="clearfix"></div>
                                        <div id="overallAverage" style="min-width: 310px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <section class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-12">
                                        <h1>Statistics</h1>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div style="margin-top: 23px;">
                            <div class="info-box">
                                <div class="info-box-content">
                                    <span class="info-box-text">Pending Buzz requests</span>
                                    <span class="info-box-number">
                                        <span style="font-size: 33px; font-weight: 500; margin-right: 10px; ">10</span>
                                        <span style="color: red">-6%</span>
                                    </span>
                                    <span class="progress-description">
                                        <span>Locked: 8 | Unclocked: 2</span>
                                    </span>
                                    <div class="icon" style="font-size: 70px; top: 20px; position: absolute; right: 15px; top: 15px; opacity: 0.5; transition: -webkit-transform .3s linear; transition: transform .3s linear; transition: transform .3s linear,-webkit-transform .3s linear;">
                                        <i class="ion ion-stats-bars"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="info-box">
                                <div class="info-box-content">
                                    <span class="info-box-text">Calls waiting</span>
                                    <span class="info-box-number">
                                        <span style="font-size: 33px; font-weight: 500; margin-right: 10px; ">40</span>
                                        <span style="color: green">+6%</span>
                                    </span>
                                    <div class="icon" style="font-size: 70px; top: 0; position: absolute; right: 15px; top: 15px; opacity: 0.5; transition: -webkit-transform .3s linear; transition: transform .3s linear; transition: transform .3s linear,-webkit-transform .3s linear;">
                                        <i class="ion ion-stats-bars"></i>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>
<!-- end row -->
@section scripts{
    <script>
        $("input[data-bootstrap-switch]").each(function () {
            $(this).bootstrapSwitch('state', $(this).prop('checked'));
            $(this).bootstrapSwitch('onText', 'YES');
            $(this).bootstrapSwitch('offText', 'NO');
        })

        var IndexController = ($scope, $rootScope, $timeout, $filter, $compile, ApiHelper, CommonHelper, UtilFactory, DataFactory, $q) => {

            function drawChart(id) {
                var trace1 = {
                    x: ['2022-03-08 07:00:00',
                        '2022-03-08 08:00:00',
                        '2022-03-08 09:00:00',
                        '2022-03-08 10:00:00',
                        '2022-03-08 11:00:00',
                        '2022-03-08 12:00:00',
                        '2022-03-08 13:00:00',
                        '2022-03-08 14:00:00',
                        '2022-03-08 15:00:00'],
                    y: [0.65, 0.60, 0.80, 0.0, 0.20, 0.80, 0.65, 0.15, 0.25],
                    hovertemplate: 'Actual: <b>%{y:.2f}%</b><br>Forcast: <b>%{text}%</b><br><extra></extra>',
                    text: ["Text A", "Text B", "Text C", "Text D", "Text E", "Text B", "Text C", "Text D", "Text E"],
                    type: 'scatter',
                    name: 'SLA - Buzz',
                    line: { color: '#0099ff' }
                };

                var trace2 = {
                    x: ['2022-03-08 07:00:00',
                        '2022-03-08 08:00:00',
                        '2022-03-08 09:00:00',
                        '2022-03-08 10:00:00',
                        '2022-03-08 11:00:00',
                        '2022-03-08 12:00:00',
                        '2022-03-08 13:00:00',
                        '2022-03-08 14:00:00',
                        '2022-03-08 15:00:00'],
                    y: [0.80, 0.0, 0.50, 0.40, 0.10, 0.70, 0.55, 0.05, 0.15],
                    hovertemplate: 'Actual: <b>%{y:.2f}%</b><br>Forcast: <b>%{text}%</b><br><extra></extra>',
                    text: ["Text A", "Text B", "Text C", "Text D", "Text E", "Text B", "Text C", "Text D", "Text E"],
                    type: 'scatter',
                    name: 'SLA - Calls',
                    line: { color: '#25c6da' }
                };

                var trace3 = {
                    x: ['2022-03-08 07:00:00',
                        '2022-03-08 08:00:00',
                        '2022-03-08 09:00:00',
                        '2022-03-08 10:00:00',
                        '2022-03-08 11:00:00',
                        '2022-03-08 12:00:00',
                        '2022-03-08 13:00:00',
                        '2022-03-08 14:00:00',
                        '2022-03-08 15:00:00'],
                    y: [0.15, 0.25, 0.85, 0.43, 0.46, 0.66, 0.55, 0.25, 0.95],
                    hovertemplate: 'Actual: <b>%{y:.2f}%</b><br>Forcast: <b>%{text}%</b><br><extra></extra>',
                    text: ["Text A", "Text B", "Text C", "Text D", "Text E", "Text B", "Text C", "Text D", "Text E"],
                    type: 'scatter',
                    name: 'Overall SLA',
                    line: { color: '#2a35b2' }
                };

                var trace4 = {
                    x: ['2022-03-08 07:00:00',
                        '2022-03-08 08:00:00',
                        '2022-03-08 09:00:00',
                        '2022-03-08 10:00:00',
                        '2022-03-08 11:00:00',
                        '2022-03-08 12:00:00',
                        '2022-03-08 13:00:00',
                        '2022-03-08 14:00:00',
                        '2022-03-08 15:00:00'],
                    y: [0.82, 0.17, 0.55, 0.33, 0.75, 0.25, 0.34, 0.78, 0.96],
                    hovertemplate: 'Actual: <b>%{y:.2f}%</b><br>Forcast: <b>%{text}%</b><br><extra></extra>',
                    text: ["Text A", "Text B", "Text C", "Text D", "Text E", "Text B", "Text C", "Text D", "Text E"],
                    type: 'scatter',
                    name: 'Volume',
                    line: { color: '#ba68c8' }
                };

                var data = [trace1, trace2, trace3, trace4];

                var layout = {
                    autosize: true,
                    title: '',
                    showlegend: true,
                    hoverlabel: { bgcolor: "#000" },
                    yaxis: {
                        tickformat: ',.0%',
                        range: [0, 1]
                    }
                };
                Plotly.newPlot(id, data, layout, { scrollZoom: true, responsive: true, displayModeBar: false });
            }


            async function initPage() {
                drawChart("quebec");
                drawChart("ontario");
                drawChart("atlantic");
                drawChart("overallAverage");
            }
            initPage();
        }
        IndexController.$inject = ["$scope", "$rootScope", "$timeout", "$filter", "$compile", "ApiHelper", "CommonHelper", "UtilFactory", "DataFactory", "$q"];
        addController("IndexController", IndexController);
    </script>

}
